build
GoapMain/lib*
GoapMain/bin*
GoapMain/*.user.*
*.orig
*.user
*.inc
*.am
*.in
/GoapMain/x64/Debug
/.vs
/GoapMain/.vs/GOAP/v16
/GoapMain/3rdparty/botan/build_msvc
/GoapMain/3rdparty/half/Half/Debug
/GoapMain/3rdparty/half/Half/x64/Debug/Half.tlog
/GoapMain/3rdparty/half/Half/x64/Debug
/GoapMain/Debug
/GoapMain/GoapLibrary/GoapLib/x64/Debug
/GoapMain/packages/Microsoft.googletest.v140.windesktop.msvcstl.static.rt-static.1.8.1.3
/GoapMain/Tests/Tests/x64/Debug
/GoapMain/GoapLibrary/GoapLib/GoapLib.vcxproj.filters
/GoapMain/GOAP.vcxproj.filters
/GoapMain/3rdparty/termcolor/termcolor/termcolor.vcxproj.filters
/GoapMain/3rdparty/half/Half/Half.vcxproj.filters
/GoapMain/enc_temp_folder/6584e379ac9c4e994479b2ff311e65e
/GoapMain/3rdparty/half/Half/x64/Release
/GoapMain/GoapLibrary/GoapLib/x64/Release/GoapLib.tlog
/GoapMain/GoapLibrary/GoapLib/x64/Release
/GoapMain/Tests/Tests/x64/Release/Tests.tlog
/GoapMain/Tests/Tests/x64/Release
/GoapMain/x64/Release
